<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/static/main.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
        <style>
            body {
                font-size: .875rem;
                background-color: beige;
            }
        </style>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}">Header</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 bg-light min-vh-100">
                    <nav class="nav mt-2 flex-column nav-pills">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/admin}">Admin</a>
                        <a class="nav-link active" th:href="@{/user}">User</a>
                    </nav>
                </div>
                <div class="col-9 mt-2 ml-sm-auto">
                    <h4 th:object="${user}" th:text="${'Hello, ' + user.name}"/>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.15.0/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </body>
</html>