.body {
  font-size: .875rem;
  background-color: #999999;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.nav .nav-link {
  font-weight: 500;
  color: #333;
}

.nav .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.nav .nav-link.active {
  color: #007bff;
}

.nav .nav-link:hover .feather,
.nav .nav-link.active .feather {
  color: inherit;
}